</head>
<body>
  <nav>
    <a 
      href="/flights"
      <%- title === "All Flights" ? 'class="active"' : "" %> 
    >
      Available Flights
    </a>
    <a 
    href="/flights/new"
    <%- title === "Add Flights" ? 'class="active"' : "" %> 
    >
    Add Flights
  </a>
  <a 
    href="/destinations/new"
    <%- title === "Add Destination" ? 'class="active"' : "" %> 
    >
    Add Destination
  </a>

  </nav>

</body>