<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/stylesheets/error.css">
  <title>Error!</title>
</head>
<body>
  
  <!-- <img id="matrix" src="https://media.giphy.com/media/128Ygie2wLdH5m/giphy.gif" alt="matrix"> -->
<div class="bk2">
  <h1 class="title">CONGRATULATIONS! </br> YOU'VE REACHED THE END OF THE INTERNET!</h1>
  <h2>Please go back the way you came.</h2>
  <h1><%= message %></h1>
  <h1><%= error.status %></h1>
  <pre><%= error.stack %></pre>
</div>
  
</body>
</html>


