<!-- INDEX PARTIALS -->

<%- include('./partials/html-head.ejs')  %> 
<link rel="stylesheet" href="/stylesheets/flights/index.css">
<%- include('./partials/nav')  %>
<main>
  <h1><%= title %> </h1>
</main>

<%- include('./partials/footer')  %> 